body {
    font-family:Impact, sans-serif;
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    background-color: #f4f4f4;
    color: #333;
    max-width: 1280px;
    margin: 0 auto;
=======
    background-color: whitesmoke;
    color: darkgrey;    
>>>>>>> Styles
}

header {
    text-align: center;
<<<<<<< HEAD
    background-color: antiquewhite;
    padding: 20px;
}

header h1 {
    font-family: Tahoma, sans-serif;
=======
    background-color: bisque;
    padding: 30px 20px;
}

header h1 {
    margin: 0;
    font-size: 36;
>>>>>>> Styles
}

.projects {
    display: grid;
<<<<<<< HEAD
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
=======
     grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
>>>>>>> Styles
    gap: 15px;
    padding: 20px;
}


.project-card {
    background: white;
    padding: 15px;
    border: 1px solid bisque;
    border-radius: 6px;
}

.project-card h2 {
    margin-top: 0;
    font-size: 18px;
}

footer {
    text-align: center;
    background-color: antiquewhite;
    margin-top: 20px;
    border: 1px solid bisque;   
}

#footer-img {
    width: 30;
    height: auto;
}

.link-list {
    display: flex;
    justify-content: end;
    padding-right: 30px;
    list-style: none;
    gap: 60px;
}
 

